**.orig
*.rbc
*.swp
.DS_Store
.byebug_history
.env
.idea/
.irb_history
.rvmrc
.yarn-integrity
/.bundle
/coverage/
/db/*.sqlite3
/log
/node_modules
/public/system
/public/assets
/spec/tmp
/storage
/tmp/*
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/vendor/bundle
/yarn-error.log
capybara-*.html
config/initializers/secret_token.rb
config/master.key
pickle-email-*.html
rerun.txt
yarn-debug.log*
/app/assets/builds/*
!/app/assets/builds/.keep
