/config/database.yml
*.rbc
*.swp
capybara-*.html
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
/storage
.idea/
.DS_Store
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/secrets.yml
config/master.key
.env

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# Ignore byebug history
.byebug_history

/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
