SECRET_KEY_BASE:
SERVER_URL: 'localhost:3000'
PASSWORD_RESET_URL: 'http://127.0.0.1:3000'
SENDGRID_USERNAME:
SENDGRID_PASSWORD:
AWS_ACCESS_KEY_ID:
AWS_SECRET_ACCESS_KEY:
S3_BUCKET_NAME:
AWS_BUCKET_REGION:
